*.png filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
figure2_prop_var/expr.*/*.txt filter=lfs diff=lfs merge=lfs -text
figure2_prop_var/deseq.*/*.txt filter=lfs diff=lfs merge=lfs -text
